.about-title {
    font-weight: bolder;
}

.about-container{
    background-color:#CEF3E7;
    font-size: xxx-large;
    font-weight: bolder;
    display: flex;
    justify-content:flex-start;
    padding-top: 3%;
}

.about-container2{
    background-color:#CEF3E7;
    font-size: xx-large;
    display: flex;
    justify-content:flex-start;
    padding-bottom: 3%;
}
.Abouts{
    display:flex;
    flex-direction:row;
    column-gap: 25px;
    padding: 2%;
}
.as-title{
    color:#C92424;
    font-size: 45px;
    margin: auto;
}
.as-text{
    font-size:25px;
    margin:auto;
    width:fit-content;
    text-align: justify;
    text-align: justify;
}
.as-imageOfAbout{
    border-radius:10px;
    display:block;
    margin-top: 2%;
    height: 400px;
}
.as-button{
        background-color: #C92424;
        border-color: #C92424;
        color:white;
        width:292.5px;
        height:53.53px;
        font-size: 28px;
        border-radius: 10px;
        margin: 0px;
        cursor: pointer;
}


.lgi :hover{
    transition: 0.2s;
    background-color: #5FD3AA ;
    color: white;
}

.submit-button2 {
    font-size: x-large;
    color: black;
    background-color: white;
    padding-right: 2%;
    padding-left: 2%;
    position: absolute;
    border: black;
    border-style:solid;
}

.submit-button2:hover {
    transition: 0.2s;
    background-color: #5FD3AA ;
    color: white;
}

.plan-container {
    margin-bottom: 350px;
}




@media screen and (min-width:767px) and (max-width:1023px){
    /* .Abouts{
        display: flex;
        flex-direction: column-reverse;
    }
    .as-rightSide{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .as-imageOfAbout{
        width: 100%;
    } */
}

@media (max-width: 600px) {
    .responsive-login {
        font-size: x-small;
        flex-direction: row;
        align-items:unset;
        margin: -7%;
        padding-right: 50%;
        margin-left: -19%;
        margin-bottom: 2%;
    }
    .responsive-login button {
        margin: 0%;
    }

    .flex5 {
        justify-content: center;
        padding-top: -100%;
        padding-bottom: 2%;
        padding-left: 7%;
        padding-right: 7%;
    }

    .flex2 {
        padding-left: 10%;
        padding-right: 10%;
    }

    .Header-Desktop {
        height: 120px;
    }

    #mission {
        margin-bottom: 20%;
        margin-top: -10%;
    }

    #Plan {
        margin-top: -8%;
    }

    .content-plan {
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: -50%;
    }

    .mb-4 {
        padding-left: 10%;
        padding-right: 10%;
    }

    .form-plan {
        display: flex;
        flex-direction: column;
        padding-top: 10%;
    }

    .submit-button2 {
        align-items: center;
        margin-left: 30%;
        margin-top: 2%;
    }

}

@media(min-width: 601px) and (max-width: 844px) {
    .responsive-login {
        font-size: x-small;
        flex-direction: row;
        align-items:unset;
        margin-bottom: 2%;
        margin-top: -15%;
    }

    .responsive-login button {
        margin-left: 28%;
    }

    #mission {
        margin-bottom: 20%;
        margin-top: -10%;
    }

    #Plan {
        margin-top: -12%;
    }

    .content-plan {
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: -50%;
    }

    .flex4 {
        padding-top: 5%;
        padding-bottom: -12%;
    }
}
