.Admin-Dropdown {
    margin-top: 2%;
    color: yellow;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    background: #FFD9E7;
    margin-left: 42%;
    border: none;
    cursor: pointer;
    padding: 1%;
    width: 200px;
}

.create-user {
    border-radius: 20px;
    background: orange;
    width: 70%;
    height: 250px;
    padding: 1%;
    margin-left: 24%;
}

.create-user-title {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 40px;
}

.create-user-form {
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
}

.create-user-input {
    border-radius: 20px;
    background: #EBEBEB;
    border: none;
    padding: 1%;
}

.create-user-button {
    margin-top: 2%;
    color: #4853CD;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    background: #FFD9E7;
    margin-left: 42%;
    border: none;
    cursor: pointer;
    padding: 1%;
    width: 200px;
}

.users-admin {
    color: #4853CD;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    margin-left: 10%;
}

.select-users-admin {
    color: #4853CD;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    border-radius: 20px;
    background: #FFD9E7;
    border: none;
    margin-left: 47%;
    margin-top: 1%;
    width: 15%;
}

.admin-table-th {
    background-color: transparent;
    color: #4853CD;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
}

.user-name {
    color: #4853CD;
    font-family: Poppins;
    font-size: 20px;
}

.edit-delete-btn-admin {
    border-radius: 20px;
    background: #FFD9E7;
    color: #4853CD;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    border: none;
    width: 100px;
    padding: 3%;
    margin: 12px;
}

.admin-table {
    margin-left: 27%;
}

.Available-language-table {
    margin-left: 40%;
}

.language-table {
    background-color: transparent;
    color: #4853CD;
    font-size: x-large;
}

.language-input {
    margin: 2% 4%;
    border-radius: 20px;
    background: #EBEBEB;
    border: none;
    padding: 1%;
    text-align: center;
}

.language-button {
    border-radius: 20px;
    background: #FFD9E7;
    color: #4853CD;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    border: none;
    width: 200px;
    height: 50px;
}

.language-dashboard {
    margin-left: 25%;
}

.language-dashboard1 {
    margin-left: 30%;
}

.language-td {
    text-align: center;
}

.sign-out-text {
    margin-left: 15%;
    margin-top: 2%;
    color: #4853CD;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
}

.sign-out-button {
    margin-top: 2%;
    color: #4853CD;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    background: #FFD9E7;
    margin-left: 50%;
    border: none;
    cursor: pointer;
    padding: 1%;
    width: 200px;
}

.Admin-Header {
    position: fixed;
    margin-top: 1%;
}

.Admin-Content {
    margin-top: 2%;
}

.Admin-Sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0px 0px 20px 20px;
    background: linear-gradient(283deg, #4853CD -8.86%, rgba(72, 83, 205, 0.84) 53.99%, rgba(72, 83, 205, 0.00) 128.61%);
    padding-top: 80px;
}

.Sidebar-Button {
    background-color: transparent;
    border: none;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.Sidebar-Button:hover {
    background: rgba(72, 83, 205, 0.88);
    width: 100%;
}