.consultant {
  font-weight: bolder;
}

.consultant-flex {
  column-gap: 30px;
  margin: 0 100px;
}

.consultant-flex p {
  width: 40%;
}

.consultant-flex2 {
  column-gap: 30px;
  margin: 0 50px;
}

.consultant-flex2 img {
  max-width: 60%;
}

.mission-container {
  margin-bottom: 300px;
}

.stories-container {
  margin-bottom: 210px;
}

@media (max-width: 600px) {

  .text-center2 {
    padding-top: 10%;
    padding-left: 17%;
    padding-right: 17%;
    padding-bottom: -10%;
  }

  .flex3 {
    padding-top: 5%;
    text-align: justify;
    font-size: large;
    
  }

  .consultant-flex {
    flex-direction: column;
    row-gap: 15px;
  }

  #consultant2 {
    flex-direction: column;
    margin-top: -20%;
  }

  .consultant-flex2 img {
    max-width: 100%;
    padding-top: 15%;
  }

  .success-content {
    margin-top: -30%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .success-content2 {
    margin-top: -3%;
  }

  .ideal {
    gap: 1%;
    font-size: xx-large;
    margin-top: 12%;
    margin-bottom: -58%;
  }
}

