.footer-container-product-cart {
    margin-top: 5%;
    background-color: #2EC4B6;
}

.footer-image2 {
    padding-top: 8%;
    padding-left: 30%;
    width: 91%;
}

.full-width2 {
    grid-column: span 2;
    margin-top: -5%;
}