
.footer-image {
    padding-top: 8%;
    padding-left: 30%;
    width: 95%;
}

.footer-header {
    text-align: center;
    font-size: xx-large;
    color: white;
    padding-bottom: -50%;
}
.input-container {
    margin: 0 3%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
}

.label-contact {
    color: white;
    font-size: x-large;
    margin-bottom: 2%;
}

/* .input-contact {
    font-size: large;
    margin-bottom: 2%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    resize: none;
}

.input-contact::placeholder {
    color: white;
} */

.footer-submit {
    margin-top: 2%;
    width: 35%;
    background-color: white;
    color: #FFB551;
    font-size: large;
    border: none;
    border-radius: 20px;
    height: 40px;
    margin-left: 10%;
}

.phone-number {
    padding-top: 1%;
    margin-top: -1%;
    margin-bottom: -0.5%;
    text-align: center;
    font-size: xx-large;
    color: black;
}

.phone{
    width: 2%;
    margin-top: -5%;
    margin-left: 41%;
    text-align: center;
}
.footer-social-header {
    margin-top: -20%;
    padding-top: 2%;
    text-align: center;
    font-size: x-large;
    color: black;
}


.full-width {
    grid-column: span 2;
}

.footer-social-icons {
    max-width: 10%;
    display: flex;
    gap: 15%;
    text-align: center;
    align-items: center;
    margin-left: 45%;
    margin-top: 1%;
    margin-bottom: 3%;
    padding-top: 2%;

}

.social-icons:hover {
    scale:1.3;
    cursor:pointer;
}

.footer-copyright {
    padding-bottom: -10%;
    text-align: center;
    color: black;
}

.up {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: -5%;
    padding-right: 5%;
}

.footer-background {
    background-image: url(./footer2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
} 


@media (max-width: 600px){
    /* .contact {
      flex-direction: column;
      
    } */

    .object-cover {
        object-fit:contain;
        z-index: 0;
    }

    .footer-copyright{
        z-index: 1;    
    }

    .phone {
        margin-left: 25%;
        margin-top: -9%;
        width: 5%;
    }

    .footer-social-header {
        margin-top: -90%;
        padding-top: 10%;
        padding-bottom: -20%;
        font-size: large;
    }

    .footer-social-icons {
        max-width: 27%;
        margin-left: 37%;
    }

    .phone-number{
        font-size: x-large;
    }


    .up1 {
        max-width: 60%;
    }
}