.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px 20px 60px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.nav-bar {
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo {
    width: 25%;
    margin: 10px 0%;
}

.Links {
    width: 60%;
    height: 100%;
    padding-left: 5%;
    padding-top: 2%;
}

.Links ul {
    display: flex;
    font-size: xx-large;
    justify-content: space-between;
    color: black;
    padding-bottom: 2%;
    gap:3.8%;
    
}

.Links li:hover {
    color: #5FD3AA
    
}

.Login {
    display: flex;
    justify-content: flex-end;
    width: 10%;
    padding-top: 2%;
}

.Links4 ul {
    display: flex;
    font-size: xx-large;
    justify-content: space-between;
    color: black;
    padding-right: 60%;
    gap: 30%;
}

.Links5 ul {
    display: flex;
    font-size: xx-large;
    justify-content: space-between;
    border: 30px;
    color: black;
    padding-right: 60%;
    gap: 30%;
}

.Links5 li {
    background-color: white;
    padding-left: 15%;
    padding-right: 15%;
    border: black;
    border-style:solid;
    gap: 5%;
}

.Links5 li:hover {
    transition: 0.2s;
   color: black;
   background-color: #5FD3AA;
}

.Logo4 {
    width: 20%;
    margin: 30px 140px;
    margin-left: -35%;
}

.nav-bar4 {
    background-color: #5FD3AA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar5 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Log-out {
    font-size: xx-large;
    color: red;
    background-color: white;
    border: black;
    border-style:solid;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 4%;
}

.Log-out:hover {
    color: white;
    background-color: #5FD3AA;
}

.my-request {
    max-width: 140%;
    margin-left: 34px;
}

.my-request:hover {
    scale:1.2;
    cursor:pointer;
}

.Hero-Mobile {
    display: none;
} 



/* Responsive */
@media (max-width: 600px) {
    .Hero-Mobile{
        display : block;
    }

    .my-request {
        width: 40px;
        margin-left: 0px;
    }

    .Mobile-Logo {
        width:62%;

    }

    .Mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    .Mobile-Nav {
        display: flex;
        flex-direction: column;
        padding: 15px;
        position: absolute;
        right: 0;
        color: white;
        background-color: #5FD3AA;
        z-index: 2;
    }

    .Mobile-Nav a {
        font-weight: 400;
        font-size: 18px;
    }

    .Mobile-Nav a:hover {
        scale: 1.1;
    }

    .Links4 ul {
        display: flex;
        font-size: medium;
        justify-content: space-between;
        color: black;
        padding-right: 50%;
        gap: 5%;
    }

    .Links5 ul {
        display: flex;
        font-size: medium;
        justify-content: space-between;
        color: black;
        padding-right: 40%;
        gap: 15%;
    }

    .nav-bar5 {
        padding-top: 2%;
        padding-right: 12%;
    }

    .Logo4 {
        width: 35%;
        margin: 0px 0px;
        margin-right: 2.5%;
    }

}

@media (min-width: 601px) and (max-width: 844px) {
    .Hero-Mobile{
        display : block;
    }

    .Mobile-Logo {
        width:62%;

    }

    .Mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .Mobile-Nav {
        display: flex;
        flex-direction: column;
        padding: 15px;
        position: absolute;
        right: 0;
        color: white;
        background-color: #5FD3AA;
        z-index: 2;
    }

    .Mobile-Nav a {
        font-weight: 400;
        font-size: 30px;
    }

    .Mobile-Nav a:hover {
        scale: 1.1;
    }

}

@media (max-width: 991.98px) {
    .nav-bar {
        width: 100%;
    }

    .Logo {
        display: none;
    }

    .Links {
        display: none; /* Hide Links class on smaller screens, adjust as needed */
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .nav-bar {
        width: 100%;
    }

    .Logo {
        width: 30%;
    }

    .Links {
        width: 100%;
        padding-left: 2%;
    }

    .Links ul {
        font-size: x-large;
        gap: 2%;
    }

    .learn-more {
        left: 25%;
    }
}