#nutrition img:hover{
    scale:1.1;
    cursor:pointer;
}
#strength img:hover{
    scale:1.1;
    cursor:pointer;
}


.strength-container{
    margin-bottom: 400px;
}
@media (max-width: 600px) {
    #nutrition, #strength{
        flex-direction: column;
        padding-bottom: 5%;
    }

    .flex4 {
        font-size: xx-large;
        padding-bottom: 15%;
        padding-top: 6%;
    }

}

@media (max-width: 844px) {
    .flex4 {
        font-size: 600;
        gap: 3%;
   
    }
}